# ------------------------------------------------------
# Python
# ------------------------------------------------------
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/
*.log

# ------------------------------------------------------
# Virtual environments
# ------------------------------------------------------
venv/
env/
ENV/
.venv/
.ENV/
img_store_venv/
exported_csv/
exported_images/


# ------------------------------------------------------
# Django
# ------------------------------------------------------
*.sqlite3
*.zip
db.sqlite3
db.sqlite
media/
staticfiles/
static/
__pycache__/
local_settings.py
settings_local.py
.settings/
*.mo
*.pot

# ------------------------------------------------------
# Environment variables
# ------------------------------------------------------
.env
.env.local
.env.*.local
*.env

# ------------------------------------------------------
# VS Code
# ------------------------------------------------------
.vscode/
.history/

# ------------------------------------------------------
# PyCharm
# ------------------------------------------------------
.idea/

# ------------------------------------------------------
# MacOS
# ------------------------------------------------------
.DS_Store

# ------------------------------------------------------
# Logs
# ------------------------------------------------------
*.log
logs/
*.out

# ------------------------------------------------------
# Gunicorn / uWSGI
# ------------------------------------------------------
gunicorn.pid
uwsgi.pid

# ------------------------------------------------------
# Node / Frontend (if using React/Vue in Django)
# ------------------------------------------------------
node_modules/
npm-debug.log
yarn-error.log

# ------------------------------------------------------
# Backup files
# ------------------------------------------------------
*~
*.bak
*.tmp
*.swp

# ------------------------------------------------------
# Sensitive data
# ------------------------------------------------------
*.pem
*.key
*.crt
